.nav-item {
    display: flex !important;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.nav-item span {
    font-size: 22px;
}

.card-border-1 {
    border: 1px solid #4545dd !important;
}

.card-border-2 {
    border: 1px solid #dd4545 !important;
}

.logOut-btn {
    background: #dd4545 !important;
    border: none !important;
}